admin/backups/*
!admin/backups/.htaccess
!admin/backups/index.php
config/settings-local.inc.php
img/banner/*
nbproject/private
tools/smarty/compile/*
!tools/smarty/compile/index.php
upload/*
!upload/.htaccess
!upload/index.php
