admin/backups/*
!admin/backups/.htaccess
!admin/backups/index.php
config/settings-local.inc.php
img/p/*
!img/p/index.php
img/banner/*
!img/banner/index.php
img/tmp/*
!img/tmp/index.php
nbproject/private
tools/smarty/compile/*
!tools/smarty/compile/index.php
upload/*
!upload/.htaccess
!upload/index.php
