.htaccess
robots.txt
admin/backups/*
!admin/backups/.htaccess
!admin/backups/index.php
config/settings.inc.php
config/settings-local.inc.php
img/banner/*
!img/banner/index.php
img/c/*
!img/c/index.php
!img/c/en*
!img/c/sk*
img/p/*
!img/p/index.php
!img/p/en*
!img/p/sk*
img/tmp/*
!img/tmp/index.php
nbproject/*
tools/smarty/compile/*
!tools/smarty/compile/index.php
upload/*
!upload/.htaccess
!upload/index.php
