/*
	PrestaShop CSS
	18 used colors:
	10 grays: #374853 #595a5e #5d717e #76839b #888 #bdc2c9 #d0d1d5 #d0d3d8 #e5e6e7 #f1f2f4
	4 fushias: #f6dce8 #dd2a81 #971d58 #5d0630
	2 yellows: #f8e1a0 #f9e400
	1 green: #488c40
	1 red: #da0f00
*/

body, html { margin: 0; padding: 0; }

body {
    font-size: 12px;
    line-height: 1.6;
    background: #404041; /* #dcdcde; */
    color: #222;
    position: relative;
}
body, input, select, h1, h2, h3, h4, a { font-family: "Trebuchet MS", Calibri, Verdana, "Geneva CE", lucida, sans-serif; }


/* Useful */
.alc { text-align: center; }
.alr { text-align: right; }
.alj { text-align: justify; }
.middle { vertical-align: middle; }
.uppercase { text-transform: uppercase; }
.hidden, .collapsed, .block_hidden_only_for_screen { display: none; }
.wrap { white-space: normal; }
.bold { font-weight: bold; }
.strike { text-decoration: line-through; }
.italic { font-style: italic; }
.top { vertical-align: top; }
.span_link { cursor: pointer; }
.span_link:hover { text-decoration: underline; }
.clear { clear: both; }

br.clear { clear: both; line-height: 0; font-size: 0; height: 0 }
noscript ul { list-style-type: none; background: black; color: white; padding: 10px; border: 1px solid gray; }
/* new clearfix */
.clearfix:after {
	clear: both;
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	content: ".";
}
* html .clearfix { zoom: 1 }
*:first-child+html .clearfix { zoom: 1 }

/* Footer links */
ul.footer_links,
ul.footer_links li {
    height: 25px;
    padding: 0;
}
ul.footer_links {
	list-style-type: none;
	clear: both;
	margin: 2em;
}
ul.footer_links li {
	float: left;
    margin: 0;
	margin-right: 2em;
    line-height: 25px;
}
ul.footer_links a { text-decoration: none !important; }
ul.footer_links a:hover { text-decoration: underline !important; }

/* transfert effect*/
.transferProduct { border: 2px solid #888; }

/* simple list inline */
ul.inline_list { list-style-type: none; margin-top: 1em; }
ul.inline_list li { float: left; text-align: center; }
ul.inline_list li img { display: block; }
ul.half {
	width: 45%;
	margin-right: 1em;
	float: left;
}

/* Category tree (i.e. in sitemap) */
div.tree_top {
	background: url('../img/sitemap-top.gif') no-repeat -1px -3px;
	padding-left: 24px;
	padding-bottom: 5px;
	padding-top: 3px;
}
ul.tree, ul.tree ul { list-style-type: none }
ul.tree li {
	padding-left: 1.2em;
	border-left: 1px gray dotted;
	background: url(../img/sitemap-horizontal.gif) no-repeat left 10px;
	margin-left: 1em;
}
ul.tree a { padding-left: 0.2em; }
ul.tree a.selected { font-weight: bold; }
ul.tree li.last {
	background: url(../img/sitemap-last.gif) no-repeat -12px -2px;
	border: none;
}
span.grower { cursor: pointer; }

/* Tabs */
ul.idTabs {
	list-style-type: none;
	border-bottom: solid 1px #76839b;
	height: 21px;
	margin-top: 1em;
}
ul.idTabs li {
	float: left;
	margin-right: 1px;
}
ul.idTabs li a {
	background-image: url('../img/tab_bg.jpg');
	display: block;
	width: 173px;
	height: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 3px;
	color: #374853;
}
ul.idTabs li a.selected {
	background-image: url('../img/tab_bg_selected.jpg');
	color: white;
}

/* IdTabs Short*/
ul.idTabsShort li a {
	background-image: url('../img/tab_bg_short.jpg');
	width: 138px;
}
ul.idTabsShort li a.selected {
	background-image: url('../img/tab_bg_selected_short.jpg');
	color: white;
}
div.sheets {
	clear: both;
}

/* global style */
a {
	/*sno zmeniť farbu*/color: #222222;
}
a.button { text-decoration: none !important; }
input.button {
    cursor: pointer;
}
.input:focus { outline: 0; }
img { border: none; }
h1, h2, h3, h4 { font-weight: bold; }
h1 { font-size: 180%; }
h2 {
    font-size: 150%;
    margin: 1em 0 0.3em 0;
}
h2:first-child { margin-top: 0; }
h3 { font-size: 130% }
h4 { font-size: 110% }
h2 span {
	text-transform: none;
	font-weight: normal;
	font-style: italic;
}
p {
    line-height: 1.3em;
    margin: 0.5em 0;
}

ul {
    margin: 1em 2em;
}
li {
    margin: 0.5em 0;
}

/* global layout */
#page {
    width: 978px;
    margin: 35px auto;
    padding: 0;
    position: relative;
}
#main-content a { text-decoration: underline; }
#header {
    font-size: 0;
    padding-bottom: 8px;
}
.header_user {
    font-size: 12px;
    position: absolute;
    top: -35px;
    right: 0;
}
.header_user a {
    text-decoration: underline;
}
.header_user p {
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 0;
}
.header_user .account {
    text-transform: uppercase;
    font-weight: bold;
    color: #ee1c25;
}


#top-menu {
    background-image: none;
    background-color: #404041;
    list-style-type: none;
    margin: 0; padding: 0;
    position: relative;
    height: 33px;
    color: white;
}
#top-menu li { margin: 0; padding: 0; position: absolute; }
#top-menu li.item2 { left: 171px; }
#top-menu li.item3 { left: 342px; }
#top-menu a:hover, #top-menu a.selected {
    color: #cf0f0c;
    font-weight: bold;
}


#columns {
    background: transparent url('../img/bg-center-column.jpg') repeat-y;
    background-position: 50% 33px;
}
#left_column, #center_column, #right_column {
    margin: 0;
	overflow: hidden;
}
#left_column {
    float: left;
	clear: left;
}
#right_column {
    float: right;
}
#left_column, #right_column {
	width: 163px;
}
#center_column {
    padding: 0 8px;
}
#main-content {
    background: white;
    color: #222;
    padding: 8px;
    padding-bottom: 5px;
}



/* Logo */

#logo {
    width: 163px;
}


/* BANNER */

/* Zakla */
/* Obsahuje zakladne nastavenie objektov ako triedy */

.banner{
    position: absolute;
    overflow: hidden;
}


.banner_slider{
    position: absolute;
    left: 0px;
    top: 0px;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.banner_slider ul,
.banner_slider ul li{
    width: inherit;
    height: inherit;
}

.banner_slider ul{
    list-style: none;
    padding: 0px;
}


.banner_list{
    position: absolute;
}

.banner_list ul{
    margin: 0px;
}

.banner_list ul li{
     cursor: pointer;
     width: 8px;
     height: 8px;
}


/* Konkretny banner */
/* Obsahuje nastavenie podla kokretnych umiestnenia, rozmerov,... */

#top_banner_block{
    top: 0px;
    left: 171px;
    width: 636px;
    height: 190px;
}


#top_banner_block .banner_slider{
    white-space: nowrap;
}

#top_banner_block .banner_slider ul li{
    display: inline;
    margin-right: 318px;
}

#top_banner_block .banner_list{
    bottom: 0px;
    right: 0px;
}

#top_banner_block .banner_list ul{
    margin-bottom: 10px;
}

#top_banner_block .banner_list ul li{
    display: inline;
    margin-right: 15px;
}

#top_banner_block .banner_slider ul li img{
    width: inherit;
    height: inherit;
}
/* BANNER - KONIEC */



/* HOME CATEGORIES */

div#homeCategoriesBlock{

}

div#homeCategoriesBlock ul{
    color: black;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

div#homeCategoriesBlock ul li{
    position: relative;
    display: block;
    float: left;
    width: 145px;
    height: 165px;
    margin-top: 0px;
    margin-right: 13px;
    margin-bottom: 13px;
}
div#homeCategoriesBlock ul li.lineLast{
    margin-right: 0px;
}

div#homeCategoriesBlock ul li img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 145px;
    height: 145px;
}

div#homeCategoriesBlock ul li div{
    position: absolute;
    width: 137px;
    padding-left: 8px;
    height: 55px;
    bottom: 0px;
    line-height: 27px;
    font-size: 20px;
    font-weight: bold;
}

div#homeCategoriesBlock ul li a *{
    opacity: 0.9;
    filter: alpha(opacity=90);
}

div#homeCategoriesBlock ul li a:hover *{
    opacity: 1.0;
    filter: alpha(opacity=100);
    color: red;
}

/* HOME CATEGORIES - KONIEC */




/* ADVERTISING */

#left_column .advertising.block,
#right_column .advertising.block {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    font-size: 0;
}
.block.advertising,
.block.advertising a,
.block.advertising a *{
    width: inherit;
}

/* ADVERTISING - KONIEC */


/* BLOCKVIEWED */
#viewed-products_block_left {
    margin-top: 33px;
}
#viewed-products_block_left h4 {
    background: transparent url('../img/arr-down.jpg') no-repeat left center;
    padding: 0 0 0 41px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 8px;
}
#viewed-products_block_left div.block_content {
    padding: 0px;
}
#viewed-products_block_left .left_block {
    background: white;
    color: black;
    padding: 0 8px 8px 8px;
    margin-bottom: 8px;
}
#viewed-products_block_left .overview_block {
    background-color: #eeeef0;
    margin: 0;
    padding: 8px;
}
#viewed-products_block_left p {
    margin: 0;
}
#viewed-products_block_left p.category{
    font-size: 9px;
}
/* BLOCKVIEWED - KONIEC */


ul.icon-list { list-style: none; }
ul.icon-list, ul.icon-list li { margin: 0; padding: 0; }
ul.icon-list li { width: 163px; margin-bottom: 8px; position: relative; }
ul.icon-list a {
    display: block;
    text-decoration: none;
    font-size: 11px;
    margin-left: 33px;
    padding-left: 8px;
    line-height: 25px;
    height: 25px;
    color: white;
}


/* druhá úroveň (zahŕňa aj ďalšie úrovne) */

ul.icon-list ul {
    list-style: none;
    margin: 0 0 0 33px;
    padding: 0 8px 0 0;
}
ul.icon-list ul li {
    width: auto;
    margin: 0;
    padding: 2px 0 2px 8px;
}

ul.icon-list ul a,
ul.icon-list li.selected ul a {
    display: inline;
    height: auto;
    line-height: normal;
    margin: 0;
    padding: 0;
}
ul.icon-list a:hover,
ul.icon-list li.selected > a {
    color: red;
    font-weight: bold;
}

/* tretia úroveň */

ul.icon-list ul ul {
    list-style: disc outside;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
ul.icon-list ul ul li {
    margin: 0;
    padding: 0;
}

/* iné */

ul.icon-list .icon {
    display: block;
    width: 25px;
    height: 25px;
    background: white;
    position: absolute;
    border: none;
    margin-left: 0px;
    left: 0;
    top: 0;
}



#block-links {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}
#block-links li.last { margin-bottom: 0; }
#block-links h4 { display: none; }

#search_block_left,
#search_block_left form,
#search_button {
    margin: 0;
    padding: 0;
}
#search_block_left {
    position: relative;
    height: 33px;
    font-size: 0;
}
#search_query {
    display: block;
    height: 15px;
    width: 153px;
    border: 5px solid #222222;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 11px;
    line-height: 25px;
}
#search_button {
    background: white url('../img/icon-ok.jpg') no-repeat;
    display: block;
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: none;
}


/* global table style */
div.table_block {
	background: transparent url('../img/table_footer.gif') no-repeat bottom left;
	padding-bottom: 6px;
	margin: 0 auto 2em;
	width: 541px;
}
table.std {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
table.std td, table.std th { padding: 0.4em 0.5em; }
table.std th { white-space: nowrap; }
table.std tr.item td, table.std tr.item th { background-color: white; }
table.std tr.alternate_item td,
table.std tr.alternate_item th { background-color: #f1f2f4; }
table.std tbody tr td, table.std tfoot tr td { border-top: 1px solid #bdc2c9; }
table.std thead th {
	background-color: transparent;
	background-image: url('../img/table_header.gif');
	background-repeat: no-repeat;
	height: 24px;
	color: #374853;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
}
table.std thead th.first_item { background-position: top left; }
table.std thead th.last_item { background-position: top right; }
table.std thead th.item { background-position: -5px 0; }
table.std tfoot td {
	color: #374853;
	text-align: right;
	white-space: nowrap;
}

/* /global table style */

/* global form style */
form.std { clear: both; }
form.std h3 {
	color: #555;
	font-weight: normal;
	border-bottom: 1px solid #d0d1d5;
	padding: 0.5em;
	margin: 0 0 0.5em 0;
}
form.std fieldset {
	border: 1px solid #d0d3d8;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
	margin-bottom: 1em;
	padding-bottom: 1em;
}
form.std fieldset legend {
	padding: 0.3em 0.6em;
	margin: 1em 0 1em 0.5em;
	font-size: 1.6em;
	font-weight: 100;
	border-color: #d0d1d5;
	border-style: solid;
	border-width: 1px;
}
form.std h4, form.std p {
	padding: 0.3em 1em;
	clear: both;
}
form.std label, form.std p span {
	float: left;
	text-align: right;
	width: 30%;
}
form.std p span.like_input {
	width: auto;
	margin-left: 0.7em;
}
input, textarea, select, span.editable {
	margin-left: 0.7em;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	outline: none;
}
input, textarea, select { border: 1px solid #bdc2c9 }
input.text {
	height: 18px;
	padding-left: 2px;
	padding-right: 2px;
}
.checkbox input, .radio input { border: none }
form.std .checkbox label, form.std .radio label, form.std span.form_info {
	margin: 0;
	float: none;
	text-align: left;
}
.required sup { color: #da0f00; }
form.std p.checkbox { padding-left: 30%; }
form.std p.submit {
	padding-left: 31%!important;
	margin-bottom: 1.5em;
}
#center_column form.std p.submit2 {
	padding-left: 170px;
	margin-bottom: 1.5em;
}

/* START OF BUTTONS SECTION
 * -tags: input, a, span
 * -sizes: mini, small, normal, large
 * -types: button, exlusive
 * -status: normal, hover, disabled
 * -rule: the span.button is a a.button disabled
*/



/* id_state field in managed via JS and is firstly hidden */
form p.id_state { display: none; }

/* generic style */
.price-discount { text-decoration: line-through; }
.price-pretax { color: gray; }
img.icon { margin-right: 6px; vertical-align: middle; }
.price, .price-shipping, .price-wrapping {
	white-space: nowrap;
}

/* errors */
.error {
	background-color: #e60122;
	color: white;
	margin: 8px auto;
	padding: 8px;
}
.error p {
    font-weight: bold;
    margin: 0;
}
.error ol {
    margin: 0;
}

/* warning */
.warning {
	color: black;
	font-size: 1.2em;
	background-color: #F8E1A0;
	border: 1px dashed #F9E400;
	font-weight: bold;
	margin: 0.2em 2em;
	padding: 0.6em 1em;
}
.warning_inline {
	color: #da0f00;
	font-weight: bold;
}

/* success */
.success {
	color: green;
	background-color: #d0d3d8;
	border: 1px dashed green;
	font-weight: bold;
	margin: 0.2em 1em;
	padding: 0.3em 0.8em 1em
}
.success_inline {
	color: green;
	font-weight: bold
}

/* breadcrumb.tpl */
.breadcrumb {
	font-size: 1em;
	color: #888
}
.breadcrumb .navigation-pipe { padding: 0 0.6em }
.breadcrumb a {
	text-decoration: none;
	color: #5d717e
}
.breadcrumb a:hover { text-decoration: underline }




/* pagination.tpl */
ul.pagination{
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: right;
    font-weight: bold;
}
ul.pagination li {
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 6px;
}
ul.pagination li,
ul.pagination a,
ul.pagination span {
    color: black;
}
ul.pagination a,
ul.pagination span,
ul.pagination li.truncate {
    padding: 0px 3px;
    cursor: pointer;
}
ul.pagination a {
    text-decoration: none
}
ul.pagination li.current span {
    color: red;
}
ul.pagination li.disabled span {
    color: grey;
    cursor: default;
}

ul.pagination li#pagination_previous,
ul.pagination li#pagination_next {
    font-weight: normal;
}




/* product-sort.tpl */
#productsSortForm p {
    text-align: right;
}



#quantityDiscount { margin-bottom: 30px; }
#quantityDiscount table {
    border-collapse: collapse;
}
#quantityDiscount th,
#quantityDiscount td {
    text-align: left;
    font-weight: normal;
    background: #eeeef0;
    margin: 0;
    padding: 0 8px;
    width: 133px;
    height: 25px;
    line-height: 25px;
    border: none;
}
#quantityDiscount th,
#quantityDiscount td {
    border-right: 8px solid white;
}
#quantityDiscount th {
    border-bottom: 8px solid white;
}
#quantityDiscount th.last,
#quantityDiscount td.last {
     border-right: none;
}




/* Footer */
#footer {
    background: white;
    height: 25px;
    margin: 8px 171px;
	padding: 0 8px;
	clear: both;
}
#footer hr { display: none; }
#footer .block_various_links, #footer .block_various_links li { margin: 0; padding: 0; }
#footer .block_various_links { list-style: none; line-height: 25px; }
#footer .block_various_links li a { text-decoration: none; }
#footer .block_various_links li { display: inline; }
#footer .block_various_links li.first_item {
	border: none;
	padding-left: 0;
}



/* Default block style */
div.block {
	margin-bottom: 1em;
}
#left_column div.block, #right_column div.block {
	padding-bottom: 5px;
}
div.block h4 {
	padding: 5px;
    margin: 0;
    font-size: 11px;
}
div.block, div.block a { color: white; text-decoration: none; }
div.block .block_content {
	border-left: 1px #d0d3d8;
	border-right: 1px #d0d3d8;
	padding: 0 5px;
	min-height: 16px
}


/* block exclusive */
div.exclusive li { margin-top: 0 }
div.exclusive .block_content {
}


/* Styles for products blocks */

/* block products (new, features, viewed, etc...) on left and right column */
.products_block li { margin-top: 0.2em }
.products_block li.item img { margin-right: 5px }
.products_block li.last_item { border: none }
.products_block li img {
	float: left;
	margin-right: 0.2em
}
.products_block p img {
	float: none;
	margin: 0 0 0 0.4em
}
.products_block li h5 {
	display: inline;
}
.products_block li p a {
	font-weight: bold;
}
.products_block dl {
	clear: both;
	border-top: 1px solid #374853;
	padding: 0 4px 4px
}
.products_block dl dt {
	margin-top: 0.3em;
	color: #595a5e
}
.products_block a.button_large { margin: 0.4em 0.4em 0 0.4em }
.products_block ul.product_images li {
	border: none;
	float: left;
	clear: none
}

/* Special style for block products in center column */
#center_column .products_block { border: none }
#center_column .products_block { color: #595a5e }
#center_column .products_block h4 { line-height: 1.3em }
#center_column .products_block .block_content {
	background: #d0d3d8 none;
	padding: 0
}
#center_column .products_block ul li:hover { background-color: #bdc2c9 }
#center_column .products_block ul li {
	float: left;
	background-color: #d0d3d8;
	margin-top: 0;
	padding: 0 0 1px;
	width: 133px;
	border-right: 1px solid white;
	border-bottom: 1px solid white
}
#center_column .products_block ul .product_accessories_description {
	margin: 0;
	padding: 0;
	height: 280px
}

/*#center_column .products_block li.last_item { float: none; clear: both }*/
#center_column .products_block li.last_item_of_line { border-right: none }
#center_column .products_block li.first_item_of_line { clear: both }
#center_column .products_block li.last_line { border-bottom: none }
#center_column .products_block p, #center_column .products_block h5 { margin: 0.5em 0.1em }
#center_column div.products_block h5 {
	display: block;
	margin-top: 8px;
	height: 2.57em
}
#center_column div.products_block h5 a {
	color: #374853;
}
#center_column div.products_block ul li p {
	margin: 0;
	padding: 0
}
#center_column div.products_block p.product_desc {
	height: 9em;
	color: #595a5e
}
#center_column div.products_block a.product_image {
	display: block;
	background-color: transparent;
	margin-bottom: 2px;
	margin-left: 2px;
	width: 129px;
	height: 129px
}
#center_column div.products_block .product_accessories_description a.product_image {
	width: 118px;
	height: 85px
}
#center_column div.products_block a.product_description {
	display: block;
	width: 118px;
	height: 50px;
	margin-left: 2px
}

#center_column div.products_block a.product_image img {
	float: none;
	margin: 0
}
#center_column div.products_block h5 { margin: 10px 5px 3px 5px }
#center_column div.products_block p.product_desc { margin: 0 5px }
#center_column div.products_block ul li p.product_desc a { font-weight: normal }
#center_column .products_block span.price {
	text-align: center;
	padding: 0.5em 0;
	/*display: block;*/
}
p.price_container { text-align: center }
#center_column .products_block .featured_price { margin-top: 2.5em }
#center_column .products_block a.exclusive,
#center_column .products_block span.exclusive { margin: 0.5em auto }

/* Special style for block accessories in center column (product page) */
#center_column .products_block.accessories_block .block_content { background: none }
#center_column div.products_block.accessories_block p.product_desc {
	margin-right: 0;
	height: 150px;
	border-right: 1px solid #d0d3d8
}
#center_column .products_block.accessories_block .block_content li { background: none; text-align: center }
#center_column .products_block.accessories_block .block_content li h5,
#center_column .products_block.accessories_block .block_content li a.product_description { text-align:left }
#center_column .products_block.accessories_block .block_content li.last_item a.product_image { border: none }



/* Block CMS links */
#informations_block_left .block_content { padding-top: 3px }



/* Block specials */
.blockspecials ul { padding-top: 5px }
.blockspecials ul li {
	float: left;
	clear: none;
	padding: 0;
	width: 48%
}
.blockspecials p.product_image { margin-right: 0.3em }
.blockspecials p {
	padding: 0.3em 0 0 0;
	margin: 0;
	text-align: center;
	clear: both
}
.blockspecials p a { margin: 0 auto }



/* Block logo payment */
div.paiement_logo_block { width: 191px; text-align: center; margin-bottom: 1.5em }
div.paiement_logo_block a { text-decoration: none }
div.paiement_logo_block img { margin: 0 0.5em }



/* Block categories */
#categories_block_left,
#categories_block_left .block_content {
    margin: 0;
    padding: 0;
}
#left_column #categories_block_left {
	padding-bottom: 0;
}
#left_column div.block { padding-bottom: 0; }
#categories_block_left h4 { display: none; }

.mainCategory1{
    background-color: #abacb0;
}
.mainCategory2{
    background-color: #2e3192;
}
.mainCategory3{
    background-color: #0098d1;
}
.mainCategory4{
    background-color: #b2422c;
}
.mainCategory5{
    background-color: #f499c2;
}
.mainCategory6{
    background-color: #000000;
}
.mainCategory7{
    background-color: #92278f;
}
.mainCategory8{
    background-color: #541101;
}
.mainCategory9{
    background-color: #3e0001;
}
.mainCategory10{
    background-color: #d2232a;
}
.mainCategory11{
    background-color: #005826;
}
.mainCategory12{
    background-color: #bcbdc1;
}



/* steps (like order step) */
div#orderStepsHeader {
    height: 130px;
    margin-bottom: 10px;
}
div#orderStepsHeader img#orderStepsIcon {
    height: inherit;
    width: 130px;
    line-height: 130px;
    text-indent: 3px;
    font-size: 23px;
    float: left;
}

ul.step {
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
    list-style: none;
    height: 25px;
    line-height: 25px;
    font-size: 18px;

}
ul.step li {
    float: left;
    height: inherit;
    margin: 0;
    margin-right: 10px;
    color: #222222;
}
ul.step li:before {
    content: '>';
    margin-right: 3px;
}
ul.step li.step_current {
    font-weight: bold;
    color: #3dae48;
}






/* Special style for block cart*/
div#cart_block.block {
    position: absolute;
    top: 0;
    width: 163px;
    height: 190px;
    padding: 0;
    margin: 0;
}
#cart_block h4 {
    height: 25px;
    margin-bottom: 16px;
    padding-top: 0px;
    padding-left: 0px;
    line-height: 25px;
}
#cart_block h4 a {
    text-decoration: none;
    color: white;
    height: 25px;
    font-size: 22px;
    font-weight:  lighter;
}
div#cart_block h4 img.icon {
    background-color: yellow;
    vertical-align:  top;
    margin-right: 0px;
}
div#cart_block img.icon.bottomLeft {
    position:  absolute;
    left: 0px;
    bottom: 0px;
    background-color: red;
}
div#cart_block ul {
    position: absolute;
    bottom: 0px;
    left: 33px;
    width: 124px;
    padding: 0;
    margin: 0;
    list-style: none;
}
#cart_block .shipping,
#cart_block .total,
#cart_block a {
    padding: 0 8px;
}
div#cart_block ul li {
    height: 25px;
    line-height: 25px;
    margin: 0;
    white-space: nowrap;
    margin-top: 4px;
}
#cart_block ul li,
#cart_block .price {
    color: white;
    overflow: hidden;
}
#cart_block ul li.discard a{
    color: red;
}
#cart_block .price {
    font-weight: bold;
}
div#cart_block ul li a {
    display: block;
    color: white;
    text-decoration: none;
}
div#cart_block ul li a:hover {
    font-weight: bold;
}




/* authentication.tpl */

#authentication div#authentificationCore{
    position: relative;
}

#authentication form#create-account_form,
#authentication form#login_form {
    width: 302px;
}
#authentication form#login_form{
    position: absolute;
    top: 0px;
    right: 0px;
}

#authentication form#create-account_form h3,
#authentication form#login_form h3{
    margin: 0px;
    margin-bottom: 8px;
    line-height: 25px;
    padding-left: 8px;
    background-color: #f3f3f4;
    font-weight: normal;
}
#authentication form#create-account_form table,
#authentication form#login_form table{
    width: 100%;
    border-spacing: 0px;
}

#authentication form#create-account_form table td,
#authentication form#login_form table td{
    border-top: transparent solid 5px;
    padding: 0px;
    width: 50%;
}
#authentication form#create-account_form table td input,
#authentication form#login_form table td input{
    border: black solid 4px;
    margin: 0px;
}

#authentication form#create-account_form table td a#submitCreate,
#authentication form#login_form table td a#submitLogin{
    display: block;
    width: 136px;
    height: 25px;
    background-color: #f3f3f4;
    padding-left: 8px;
    line-height: 25px;
}
#authentication form#create-account_form table td a#submitCreate:hover,
#authentication form#login_form table td a#submitLogin:hover{
    background-color: #404041;
    color: white;
}

#authentication form#create-account_form table tr.firstRow td{
    height: 32px;
    padding-left: 8px;
}

#authentication form#login_form a.lostPassword{
    font-weight: bold;
    color: green;
    text-decoration: none;
}

#authentication form#login_form a.lostPassword:hover{
    text-decoration: underline;
}






/* my-account.tpl */
#my-account #main-content ul { margin: 2em 0 }
#my-account #main-content li {
	list-style: none;
	margin: 2em 1.5em;
}



/* discount.tpl */
td.discount_value { white-space: nowrap }




/* category.tpl */
div#subcategories ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 1;
}
div#subcategories ul li {
    background-color: #EEEEF0;
    margin-right: 13px;
    margin-bottom: 8px;
    float: left;
    width: 145px;
    height: 150px;
}
div#subcategories ul li.inLineLast {
    margin-right: 0px;
}
div#subcategories ul li div.subcategory_image,
div#subcategories ul li div.subcategory_image a,
div#subcategories ul li div.subcategory_image a img {
    width: inherit;
}
div#subcategories ul li div.subcategory_image a img {
    height: 100px;
    display: block;
}
div#subcategories ul li *{
    text-decoration: none;
    color: black;
}
div#subcategories ul li div.subcategory_info {
    padding-top: 6px;
    padding-left: 8px;
    line-height: 1.2;
    overflow: hidden;
 }
div#subcategories ul li div.subcategory_info *{
}





/* product-list.tpl */
ul#product_list {
    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
}

ul#product_list a{
    text-decoration: none;
}

ul#product_list,
ul#product_list a{
    color: black;
}


/* jedna polocka produktu */
ul#product_list {
    margin: 0;
}
ul#product_list li{
    display: block;
    position: relative;
    height: 150px;
    margin: 0;
    margin-bottom: 8px;
    overflow: hidden;
}


ul#product_list li div.left_block,
ul#product_list li div.right_block {
    background-color: #EEEEF0;
}


/* lavy stlpec s obrazkom, nazvom a cenou */
ul#product_list li div.left_block{
    float: left;
    margin-right: 13px;
    width: 145px;
    height: inherit;
    overflow: hidden;
}
ul#product_list li div.left_block a{
    width: inherit;
}
ul#product_list li div.left_block a img{
    display: block;
    width: inherit;
    height: 100px;
}

/* v lavom stlpci miesto pre nazov, kategoriu a cenu */
ul#product_list li div.left_block div.overview_block{
    width: inherit;
    height: 50px;
}
ul#product_list li div.left_block div.overview_block p{
    line-height: 1;
    margin: 0px;
}
ul#product_list li div.left_block div.overview_block p.name,
ul#product_list li div.left_block div.overview_block p.category{
    margin-left: 8px;
}
ul#product_list li div.left_block div.overview_block p.name{
    padding-top: 6px;
}
ul#product_list li div.left_block div.overview_block p.category{
    line-height: 1.3;
    font-size: 9px;
}
ul#product_list li div.left_block div.overview_block p.price{
    padding-right: 8px;
    padding-bottom: 7px;
    font-weight: bold;
    text-align: right;
}


/* pravy stlpec s popisom */
ul#product_list li div.right_block{
    float: left;
    overflow: hidden;
    width: 462px;
    height: 142px;
    /* Táto čiara slúži ako vizuálny "padding" v prípade, že popis produktu je veľmi dlhý.
       Výška sa mení s hrúbkou čiary. Dokopy dávajú požadovanú výšku 150 px. */
    border-bottom: 8px solid #EEEEF0;
}


/* miesto pre kratky popis produktu */
ul#product_list li div.right_block div.description{
    width: 315px;
    overflow: hidden;
    margin-left: 8px;
    margin-top: 8px;
}
ul#product_list li div.right_block div.description h2{
    line-height: 1;
    margin-top: -2px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
ul#product_list li div.right_block div.description p{
    line-height: 1.2;
}
ul#product_list li div.right_block div.description p.productReference{
    position: absolute;
    bottom: 10px;
    margin-bottom: 0px;
    line-height: 1;
}

/* miesto pre dalsie akcie nad produktom */
ul#product_list li div.right_block div.action_block{
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    width: 118px;
    overflow: hidden;
    line-height: 1;
}
ul#product_list li div.right_block div.action_block ul{
    margin: 0px;
    padding: 0px;
    padding-top: 8px;
}
ul#product_list li div.right_block div.action_block ul li{
    height: 24px;
    margin-top: 0px;
    margin-bottom: 8px;
    white-space: nowrap;
    background-color: white;
    line-height: 24px;
}
ul#product_list li div.right_block div.action_block ul li > a {
    display: block;
    width: 110px;
    height: inherit;
}
ul#product_list li div.right_block div.action_block ul li > a:hover {
    background-color: #222222;
    color: white;
}

ul#product_list li div.right_block div.action_block ul li *{
    padding-left: 8px;
}
ul#product_list li div.right_block div.action_block ul li.on_sale,
ul#product_list li div.right_block div.action_block ul li.discount,
ul#product_list li div.right_block div.action_block ul li.outOfStock{
    color: #ef332c;
    font-weight: bold;
}
ul#product_list li div.right_block div.action_block ul li.available {
    color: #50b252;
    font-weight: bold;
}









/* shopping cart */
table#cart_summary {
    width: 100%;
    border-spacing: 0px;
    margin-bottom: 15px;
}
table#cart_summary tr td{
    overflow: hidden;
}
table#cart_summary tr th,
table#cart_summary tr td{
    padding-left: 8px;
    padding-right: 8px;
}
table#cart_summary thead tr {
    background-color: #f3f3f4;
    height: 25px;
}
table#cart_summary thead tr th {
    font-weight: normal;
}
table#cart_summary thead tr th.cart_unit{
    text-align: right;
}
table#cart_summary thead tr th.cart_description,
table#cart_summary tbody tr td.cart_description{
    text-align: left;
    width: 40%;
}
table#cart_summary tbody tr td,
table#cart_summary tfoot tr td{
    border-top: transparent solid 7px;
}
table#cart_summary tbody td a.cart_quantity_delete{
    color: red;
}
table#cart_summary tbody td.cart_availability{
    font-weight: bold;
}
table#cart_summary tbody td.cart_availability .available{
    color: #3dae48;
}
table#cart_summary tbody td.cart_availability .unavailable{
    color: red;
}
table#cart_summary tbody td.cart_ref,
table#cart_summary tbody td.cart_availability,
table#cart_summary tbody td.cart_unit,
table#cart_summary tbody td.cart_quantity,
table#cart_summary tbody td.cart_total{
    text-align: center;
    white-space: nowrap;
}
table#cart_summary tbody td.money,
table#cart_summary tfoot td.money{
    text-align: right;
}
table#cart_summary tfoot tr.separator td{
    border-bottom: #949599 solid 1px;
}
table#cart_summary tfoot tr td:first-child {
    text-align: right;
}




.cart_navigation{
    margin-top: 16px;
    height: 25px;
}
.cart_navigation a.back,
.cart_navigation a.continueShopping,
.cart_navigation a.next{
    display: block;
    height: inherit;
    min-width: 114px;
    padding: 0 8px;
    line-height: 25px;
}
.cart_navigation a.back,
.cart_navigation a.next{
    background-color: #3dae48;
    color: white;
}
.cart_navigation a.back:hover,
.cart_navigation a.next:hover{
    background-color: #404041;
}
.cart_navigation a.continueShopping{
    background-color: #e7e7e8;
}
.cart_navigation a.continueShopping:hover{
    background-color: #404041;
    color: white;
}
.cart_navigation a.back{
    float: left;
    margin-right: 16px;
}
.cart_navigation a.continueShopping{
    float: left;
}
.cart_navigation a.next{
    float: right;
}






/* contact-form.tpl */
body#contact-form div#center_column form input#email,
body#contact-form div#center_column form select#id_contact,
body#contact-form div#center_column form textarea#message { width: 50% }
form.std p.desc_contact span.like_input {
	width: 366px;
	text-align: left
}



/* history.tpl*/
#block-history { color: #374853 }
.color-myaccount { color: #dd2a81 }
#block-history table#order-list { border: none }
#block-history table#order-list thead th { background-image: url('../img/block_myaccount_header_large.gif') }
#block-history table#order-list thead th { color: white }
#block-history table#order-list tbody { background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left }
#block-history table#order-list tbody tr td { background-color: white }
#block-history table#order-list td.history_link {
	white-space: nowrap;
	text-align: right
}
#block-history #block-order-detail {
	border-top: 2px #dd2a81 solid;
	border-bottom: 2px #dd2a81 solid;
	padding: 0.5em;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left
}
#block-history #block-order-detail p {
	padding-left: 0;
	padding-right: 0
}

#block-history #block-order-detail #sendOrderMessage p { padding: 0 4px 0 1px }
#block-history #block-order-detail textarea {
	margin: 0 auto;
	width: 100%
}

/* sitemap.tpl */
#sitemap_content { margin-left: 5em }
div.sitemap_block {
	padding: 0;
	float: left;
	width: 33%
}
div.sitemap_block ul { text-align: left }
div.sitemap_block h3, .categTree h3 {
	margin-top: 1em;
	margin-bottom: 1em
}
div.categTree {
	margin-top: 25px;
	margin-bottom: 1em;
	margin-left: 5em
}









/* product.tpl */

/* base nastavenie zakladnych blokov ako velkost a umiestnenie */
#primary_block #pb_left_column,
#primary_block #pb_right_column {
    width: 306px;
    height: auto;
    min-height: 388px;
    float: left;
    background-color: #EEEEF0;
}
#primary_block #pb_right_column {
    width: 290px;
    margin-left: 8px;
    padding: 8px;
    padding-bottom: 0;
    line-height: 1;
}
#primary_block #pb_left_column {
    padding-bottom: 8px;
}
.short_description {
    margin-bottom: 1em;
}
#pb_middle_block {
    padding-top: 8px;
}

#more_info_block {
    padding-top: 8px;
}



/* images */
#primary_block #image-block,
#image-block img#bigpic {
    height: 300px;
    width: inherit;
}
#image-block img#bigpic{
    cursor: pointer;
}
#image-block img#bigpic.jqzoom {
    cursor: crosshair;
    position: relative
}

/* views block */
#primary_block #views_block {
    width: inherit;
    height: 80px;
    margin-top: 8px;
}
#views_block #thumbs_list {
    width: 272px;
    height: inherit;
    float: left;
    overflow: hidden;
}
#thumbs_list ul {
    margin: 0;
    height: inherit;
    width: 10000px;
    list-style-type: none;
}
#thumbs_list ul li {
    width: 80px;
    height: inherit;
    float: left;
    margin: 0;
    margin-right: 8px;
}
#thumbs_list ul li a img{
    cursor: pointer;
}
#views_block span.view_scroll_spacer {
    float: left;
    width: 17px;
    height: 80px;
    background-color: #EEEEF0;
}
#views_block #view_scroll_left,
#views_block #view_scroll_right {
    width: 9px;
    height: 18px;
    float: left;
    margin-top: 30px;
    padding-right: 4px;
    padding-left: 4px;
    text-indent: -3000px;
}
#views_block #view_scroll_left{
    background: url('../img/thumbs_left.gif') no-repeat center;
}
#views_block #view_scroll_right {
    background: url('../img/thumbs_right.gif') no-repeat center;
}

/* product_details */
#pb_right_column .price {
    font-size: 18px;
    font-weight: bold;
}
#pb_right_column .novat {
    font-size: 12px;
    font-weight: normal;
}
#pb_right_column .discount,
#pb_right_column .on_sale {
    color: red;
    font-weight: bold;
}

.attachments a { text-decoration: underline; }

/* form */
#buy_block table {
    margin-top: 1em;
}
#buy_block .formSubmit {
    border-collapse: collapse;
    width: 133px;
    position: relative;
    left: 157px;
    margin-bottom: 0;
}
#buy_block .formSubmit td {
    padding: 0;
}
#buy_block .formSubmit td.quantity,
#buy_block .formSubmit td.quantity input {
    text-align: right;
}
.formSubmit #quantity_wanted_p td {
    padding: 0 0 8px 8px;
}
.formSubmit #quantity_wanted_p label {
    line-height: 25px;
}
.formSubmit #quantity_wanted_p input {
    border-color: #222222;
    border-width: 5px;
    width: 20px;
}
#add_to_cart {
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    border: none;
    background-color: white;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}
#add_to_cart:hover {
    color:white;
    background-color: #222222;
}




/* other */
#pb_middle_block ul#productTabs {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#pb_middle_block ul#productTabs li {
    float: left;
    width: 149px;
    margin-right: 8px;
    background-color: #EEEEF0;
    line-height: 25px;
    height: 25px;
}
#pb_middle_block ul#productTabs li a {
    display: block;
    padding: 0 8px;
}
#pb_middle_block ul#productTabs li#printReference {
    margin-right: 0;
    background: white;
    text-align: right;
}
#pb_middle_block ul#productTabs li.active{
    background-color: #222222;
}
#pb_middle_block ul#productTabs li.active a{
    color: white;
}






/* color picker */
#primary_block #color_picker p {
    margin-bottom: 0.4em;
    padding: 0
}
#primary_block #color_picker {
    padding: 0.6em 0.7em 0.4em 0.7em;
    background: #e5e6e7 url('../img/product-short-desc-bg.gif') repeat-x top left;
    border: 1px #d0d3d8 solid;
    margin-bottom: 1.5em
}
#primary_block #color_to_pick_list li {
    display: inline;
    float: left;
    margin: 0 0.4em 0.4em 0
}
#primary_block a.color_pick {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    cursor: pointer
}
#primary_block a.color_pick:hover {
    border: 1px solid #000
}
#primary_block a#color_all {
    cursor: pointer
}

/* more_info_block */
#more_info_block #more_info_sheets #idTab1{
    line-height: 1.2;
    text-align: justify;
}
#more_info_block #more_info_sheets #idTab1 h2{
    margin-bottom: 8px;
}
.price-ecotax {
    color: #488c40;
    margin-top: 20px;
}
.product_subheader{

}



/* product.tpl KONIEC */








/* manufacturers-list.tpl && suppliers-list.tpl */
ul#manufacturers_list, ul#suppliers_list {
	margin-top: 2em;
	list-style-type: none
}
ul#suppliers_list li, ul#manufacturers_list li {
	background: #d0d3d8 url('../img/block_category_item_bg.jpg') repeat-x;
	border: solid 1px #d0d3d8;
	padding: 0.6em;
	margin-bottom: 1.5em
}
ul#suppliers_list li a, ul#manufacturers_list li a {
	text-decoration: none;
	color: #374853
}
ul#suppliers_list li h3, ul#manufacturers_list li h3 { margin: 0.4em 0 }
ul#suppliers_list .left_side, ul#manufacturers_list .left_side {
	float: left;
	width: 75%
}
ul#suppliers_list .logo, ul#manufacturers_list .logo {
	border: solid 1px #d0d3d8;
	float: left;
	margin-right: 0.6em
}
ul#suppliers_list li .right_side,
 ul#manufacturers_list li .right_side {
	float: right;
	text-align: right
}
ul#suppliers_list .right_side span,
 ul#manufacturers_list .right_side span {
	color: #da0f00
}
ul#suppliers_list li a.button,
 ul#manufacturers_list li a.button { margin-top: 4em }

/* category.tpl */
#category img#categoryImage { margin-top: 1em }







/* adresses */
#order div.addresses {
    position: relative;
    margin-bottom: 8px;
}

#order div.addresses div.address {
    width: 302px;
}

#order div.addresses div.address#address_delivery{
}

#order div.addresses div.address#address_invoice{
    position: absolute;
    top: 0px;
    right: 0px;
}

#order div.addresses div.address{
    font-weight: normal;
    margin-bottom: 8px;
}
#order div.addresses div.address h4{
    margin: 0px;
    padding-left: 8px;
    padding-top: 1px;
    margin-bottom: 8px;
    background-color: #f3f3f4;
    font-weight: normal;
    line-height: 25px;
}
#order div.addresses div.address h4 select{
    background-color: transparent;
}
#order div.addresses div.address table{
    width: 100%;
}
#order div.addresses div.address table tr td{
    width: 50%;
    white-space: nowrap;

}
#order div.addresses div.address table tr td.name,
#order div.addresses div.address table tr td.modifyAddress{
    padding-left: 8px;
}
#order div.addresses div.address table tr td.value {
    border: #404041 solid 4px;
    background-color: #f3f3f4;
    padding-left: 2px
}

#order div.addresses div.address a.modifyAddress{
    width: 141px;
    padding-left: 10px;
    margin-top: 8px;
}
#order a.address_add {
    width: 141px;
    padding-left: 10px;
    margin-top: 16px;
}
#order a.address_add,
#order div.addresses div.address a.modifyAddress{
    display: block;
    background-color: #f3f3f4;
    line-height: 25px;
}
#order a.address_add:hover,
#order div.addresses div.address a.modifyAddress:hover{
    background-color: #404041;
    color: white;
}

#order div#ordermsg{
    margin-top: 16px;
}


#order div#ordermsg p.ordermsgLabel{
    margin: 0px;
    margin-bottom: 8px;
    background-color: #f3f3f4;
    line-height: 25px;
    text-indent: 10px;
}

#order div#ordermsg textarea.ordermsgText{
    width: 612px;
    border: #404041 solid 4px;
    margin: 0px;

}




/* conditions & legal */
ul.shop_info {
	list-style-type: square!important;
	list-style-position: inside;
	padding: 0.6em;
	margin-top: 0.6em;
	margin-left: 2em;
	border: 1px solid #888
}
ul.shop_info li {
	padding-left: 0.5em!important;
	padding-bottom: 0.5em!important
}

/* conditions.tpl */
#conditions #right_column { display: none }
#conditions h2 { background: transparent url('../img/title_bg_large.gif') no-repeat top left }
#conditions #center_column {
	width: 730px;
	text-align: justify
}
#conditions #center_column ul,
#conditions #center_column ol {
	margin-left: 2em;
	padding: 0.6em
}
#conditions #center_column ul { list-style-type: circle }
#conditions #center_column li { padding-bottom: 0.5em }
#conditions #center_column { line-height: 1.3em }

/* identity.tpl */
p#security_informations {
	margin: 0 3em
}

/* order step 3: PAYMENT */
.payment_module { display: block }
.payment_module img {
	vertical-align: middle;
	margin-right: 1em
}
.payment_module a {
	display: block;
	border: 1px solid #595a5e;
	padding: 0.6em;
	text-decoration: none
}
.payment_module a:hover, .payment_module a:focus, .payment_module a:active {
	border: 1px solid #488c40;
	background-color: #e5e6e7;
	color: #374853
}



/* Customizable product */
#customization_block { width: 556px }
.customization_block_title { margin: 4px 4px 4px 2px }
#customization_block ul { margin: 6px 6px 0 6px }
.customization_block_input { vertical-align: inherit }
img.customization_delete_icon { margin: 2px }
li.customizationUploadLine {
	clear: left;
	padding: 4px;
	display: block
}
div.customizationUploadBrowse { float: left }
div.customizationUploadBrowseDescription { padding: 6px }
img.customizationUploaded {
	margin: 2px;
	border: 1px solid #888888
}
ul.customizationUploaded {
	list-style-type: none;
	margin-left: 4px
}
ul.customizationUploaded li { display: inline }
ul.customizationUploaded a { text-decoration: none }
div.customizationUploaded { clear: left }
div.deletePictureUploaded { float: right }
div.deleteCustomizableProduct { float: right }
ul.typedText {
	padding-left: 6px;
	list-style-type: none
}



/* cms pages */
#cms div.content_only {
	text-align: left;
	padding: 10px
}
