/*
	PrestaShop CSS
	18 used colors:
	10 grays: #374853 #595a5e #5d717e #76839b #888 #bdc2c9 #d0d1d5 #d0d3d8 #e5e6e7 #f1f2f4
	4 fushias: #f6dce8 #dd2a81 #971d58 #5d0630
	2 yellows: #f8e1a0 #f9e400
	1 green: #488c40
	1 red: #da0f00
*/

body, html { margin: 0; padding: 0; }

body {
    font-size: 15px;
    line-height: 1.6;
    background: #eeeef0;
    color: #222;
    position: relative;
}
body, input, select, h1, h2, h3, h4, a { font-family: "Trebuchet MS", Calibri, Verdana, "Geneva CE", lucida, sans-serif; }


/* Useful */
.alc { text-align: center; }
.alr { text-align: right; }
.alj { text-align: justify; }
.middle { vertical-align: middle; }
.uppercase { text-transform: uppercase; }
.hidden, .collapsed, .block_hidden_only_for_screen { display: none; }
.wrap { white-space: normal; }
.bold { font-weight: bold; }
.strike { text-decoration: line-through; }
.italic { font-style: italic; }
.top { vertical-align: top; }
.span_link { cursor: pointer; }
.span_link:hover { text-decoration: underline; }
.clear { clear: both; }

br.clear { clear: both; line-height: 0; font-size: 0; height: 0 }
noscript ul { list-style-type: none; background: black; color: white; padding: 10px; border: 1px solid gray; }
/* new clearfix */
.clearfix:after {
	clear: both;
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	content: ".";
}
* html .clearfix { zoom: 1 }
*:first-child+html .clearfix { zoom: 1 }

/* Footer links */
ul.footer_links {
	list-style-type: none;
	clear: both;
	height: 2em;
	margin-top: 2em;
}
ul.footer_links li {
	float: left;
	margin-right: 2em;
	height: 2em;
}
ul.footer_links li a { text-decoration: none; }
ul.footer_links li a:hover { color: black; }
ul.footer_links li img.icon { vertical-align: -2px; }

/* transfert effect*/
.transferProduct { border: 2px solid #888; }

/* simple list inline */
ul.inline_list { list-style-type: none; margin-top: 1em; }
ul.inline_list li { float: left; text-align: center; }
ul.inline_list li img { display: block; }
ul.half {
	width: 45%;
	margin-right: 1em;
	float: left;
}

/* Category tree (i.e. in sitemap) */
div.tree_top {
	background: url('../img/sitemap-top.gif') no-repeat -1px -3px;
	padding-left: 24px;
	padding-bottom: 5px;
	padding-top: 3px;
}
ul.tree, ul.tree ul { list-style-type: none }
ul.tree li {
	padding-left: 1.2em;
	border-left: 1px gray dotted;
	background: url(../img/sitemap-horizontal.gif) no-repeat left 10px;
	margin-left: 1em;
}
ul.tree a { padding-left: 0.2em; }
ul.tree a.selected { font-weight: bold; }
ul.tree li.last {
	background: url(../img/sitemap-last.gif) no-repeat -12px -2px;
	border: none;
}
span.grower { cursor: pointer; }

/* Tabs */
ul.idTabs {
	list-style-type: none;
	border-bottom: solid 1px #76839b;
	height: 21px;
	margin-top: 1em;
}
ul.idTabs li {
	float: left;
	margin-right: 1px;
}
ul.idTabs li a {
	background-image: url('../img/tab_bg.jpg');
	display: block;
	width: 173px;
	height: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 3px;
	color: #374853;
}
ul.idTabs li a.selected {
	background-image: url('../img/tab_bg_selected.jpg');
	color: white;
}

/* IdTabs Short*/
ul.idTabsShort li a {
	background-image: url('../img/tab_bg_short.jpg');
	width: 138px;
}
ul.idTabsShort li a.selected {
	background-image: url('../img/tab_bg_selected_short.jpg');
	color: white;
}
div.sheets {
	clear: both;
}
div.sheets ul{
    list-style-position: inside;
}
div#more_info_sheets ul li {
	background-position: 6px 4px;
	margin-bottom: 0.4em;
}

/* global style */
a {
	/*sno zmeniť farbu*/color: #222222;
	/*ado*/text-decoration: none;
}
.input:focus { outline: 0; }
img { border: none; }
h1, h2, h3, h4 { font-weight: bold; }
h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 130% }
h4 { font-size: 110% }
h2 span {
	font-size: 0.9em;
	text-transform: none;
	font-weight: normal;
	font-style: italic;
}

/* global layout */
#page {
    width: 978px;
    margin: 25px auto;
    padding: 0;
    position: relative;
}
#header {
    font-size: 0;
    padding-bottom: 8px;
}


#top-menu {
    list-style-type: none;
    margin: 0; padding: 0;
    position: relative;
    height: 33px;
}
#top-menu li { margin: 0; padding: 0; position: absolute; }
#top-menu li.item2 { left: 171px; }
#top-menu li.item3 { left: 342px; }
#top-menu a { border-bottom: 8px solid #eeeef0; }
#top-menu a:hover, #top-menu a.selected {
    color: #cf0f0c;
    background: white;
    font-weight: bold;
    border-bottom: 8px solid white;
}



#left_column, #center_column, #right_column {
    margin: 0;
    float: left;
	overflow: hidden;
    /*sno*/overflow: visible;
}
#left_column {
	clear: left;
}
#left_column, #right_column {
	width: 163px;
}
#center_column {
	width: 636px;
    padding: 0 8px;
}
#main-content {
    background: white;
    color: #222;
    padding: 8px;
    padding-bottom: 5px;
}



/* Logo */

#logo {
    width: 163px;
}


/* BANNER */

/* Zakla */
/* Obsahuje zakladne nastavenie objektov ako triedy */

.banner{
    position: absolute;
    overflow: hidden;
}


.banner_slider{
    position: absolute;
    left: 0px;
    top: 0px;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.banner_slider ul,
.banner_slider ul li{
    width: inherit;
    height: inherit;
}

.banner_slider ul{
    list-style: none;
    padding: 0px;
}


.banner_list{
    position: absolute;
}

.banner_list ul{
    margin: 0px;
}

.banner_list ul li{
     cursor: pointer;
     width: 8px;
     height: 8px;
}


/* Konkretny banner */
/* Obsahuje nastavenie podla kokretnych umiestnenia, rozmerov,... */

#top_banner_block{
    top: 0px;
    left: 171px;
    width: 636px;
    height: 190px;
}


#top_banner_block .banner_slider{
    white-space: nowrap;
}

#top_banner_block .banner_slider ul li{
    display: inline;
    margin-right: 318px;
}

#top_banner_block .banner_list{
    bottom: 0px;
    right: 0px;
}

#top_banner_block .banner_list ul{
    margin-bottom: 10px;
}

#top_banner_block .banner_list ul li{
    display: inline;
    margin-right: 15px;
}

#top_banner_block .banner_slider ul li img{
    width: inherit;
    height: inherit;
}
/* BANNER - KONIEC */





/* ADVERTISING */

.block.advertising,
.block.advertising a,
.block.advertising a *{
    width: inherit;
}
.block.advertising a *{
    height: 163px;
}

/* ADVERTISING - KONIEC */





ul.icon-list { list-style: none; }
ul.icon-list, ul.icon-list li { margin: 0; padding: 0; }
ul.icon-list li { width: 163px; margin-bottom: 8px; position: relative; }
ul.icon-list a,
ul.icon-list #search_query {
    display: block;
    text-decoration: none;
    font-size: 11px;
    margin-left: 33px;
    padding-left: 8px;
    line-height: 25px;
}
ul.icon-list a {
    font-weight: bold;
    color: #222;
    background: white;
    height: 25px;
}

/* druhá úroveň (zahŕňa aj ďalšie úrovne) */
ul.icon-list ul {
    background: white;
    list-style: none;
    margin: 0 0 0 33px;
    padding: 0 8px 0 0;
}
ul.icon-list ul li {
    width: auto;
    margin: 0;
    padding: 2px 0 2px 8px;
}

ul.icon-list ul a,
ul.icon-list li.selected ul a {
    display: inline;
    height: auto;
    background: white;
    color: #222;
    line-height: normal;
    margin: 0;
    padding: 0;
}

/* tretia úroveň */
ul.icon-list ul ul {
    list-style: disc outside;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
ul.icon-list ul ul li {
    margin: 0;
    padding: 0;
}

/* iné */
ul.icon-list .icon,
ul.icon-list #search_button {
    display: block;
    width: 25px;
    height: 25px;
    background: white;
    position: absolute;
    border: none;
    margin-left: 0px;
    left: 0;
    top: 0;
}

ul.icon-list > li.selected a,
ul.icon-list a:hover {
    text-decoration: none !important;
    background: black;
    color: white;
}

ul.icon-list ul li.selected > a,
ul.icon-list ul a:hover,
ul.icon-list li.selected ul a:hover {
    color: #d2232a;
    background: white;
}

ul.icon-list #search_query {
    border-style: solid;
    border-width: 5px;
    border-color: #404041;
    height: 15px;
    width: 117px;
    padding-left: 3px;
}



#block-links .kontakt .icon { background: #92278f; }
#block-links .facebook .icon { background: #25408f; }
#block-links .twitter .icon { background: #6ccff6; }
#block-links .myspace .icon { background: #000000; }

#block-links h4, #block-pages h4 { display: none; }
#block-pages { margin-top: 32px; }

#search_block_left.block {
    margin-bottom: 0px;
    padding-bottom: 0px !important;
}



/* global table style */
div.table_block {
	background: transparent url('../img/table_footer.gif') no-repeat bottom left;
	padding-bottom: 6px;
	margin: 0 auto 2em;
	width: 541px;
}
table.std {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
table.std td, table.std th { padding: 0.4em 0.5em; }
table.std th { white-space: nowrap; }
table.std tr.item td, table.std tr.item th { background-color: white; }
table.std tr.alternate_item td,
table.std tr.alternate_item th { background-color: #f1f2f4; }
table.std tbody tr td, table.std tfoot tr td { border-top: 1px solid #bdc2c9; }
table.std thead th {
	background-color: transparent;
	background-image: url('../img/table_header.gif');
	background-repeat: no-repeat;
	height: 24px;
	color: #374853;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
}
table.std thead th.first_item { background-position: top left; }
table.std thead th.last_item { background-position: top right; }
table.std thead th.item { background-position: -5px 0; }
table.std tfoot td {
	color: #374853;
	text-align: right;
	white-space: nowrap;
}

/* /global table style */

/* global form style */
form.std { clear: both; }
form.std h3 {
	color: #555;
	font-size: 1.4em;
	font-weight: normal;
	border-bottom: 1px solid #d0d1d5;
	padding: 0.5em;
	margin: 0 0 0.5em 0;
}
form.std fieldset {
	border: 1px solid #d0d3d8;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
	margin-bottom: 1em;
	padding-bottom: 1em;
}
form.std fieldset legend {
	padding: 0.3em 0.6em;
	margin: 1em 0 1em 0.5em;
	font-size: 1.6em;
	font-weight: 100;
	border-color: #d0d1d5;
	border-style: solid;
	border-width: 1px;
}
form.std h4, form.std p {
	padding: 0.3em 1em;
	clear: both;
}
form.std label, form.std p span {
	float: left;
	text-align: right;
	width: 30%;
}
form.std p span.like_input {
	width: auto;
	margin-left: 0.7em;
}
input, textarea, select, span.editable {
	margin-left: 0.7em;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	outline: none;
}
input, textarea, select { border: 1px solid #bdc2c9 }
input.text {
	height: 18px;
	padding-left: 2px;
	padding-right: 2px;
}
.checkbox input, .radio input { border: none }
form.std .checkbox label, form.std .radio label, form.std span.form_info {
	margin: 0;
	float: none;
	text-align: left;
}
.required sup { color: #da0f00; }
form.std p.checkbox { padding-left: 30%; }
form.std p.submit {
	padding-left: 31%!important;
	margin-bottom: 1.5em;
}
#center_column form.std p.submit2 {
	padding-left: 170px;
	margin-bottom: 1.5em;
}

/* START OF BUTTONS SECTION
 * -tags: input, a, span
 * -sizes: mini, small, normal, large
 * -types: button, exlusive
 * -status: normal, hover, disabled
 * -rule: the span.button is a a.button disabled
*/

/* global button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
	background-repeat: no-repeat;
	text-decoration: none!important;
	cursor: pointer;
	display: block;
	line-height: 18px;
	height: 18px;
}




/* id_state field in managed via JS and is firstly hidden */
form p.id_state { display: none; }

/* generic style */
ul.bullet li, .block ul.bullet li {
	padding-left: 2em;
	background: transparent url('../img/bullet.gif') no-repeat 6px 6px;
	list-style-type: none;
}

.price-discount { text-decoration: line-through; }
.price-pretax { color: gray; }
img.icon { margin-right: 0.5em; vertical-align: middle; }
.price, .price-shipping, .price-wrapping {
	white-space: nowrap;
}

/* errors */
.error {
	width: 90%;
	border: 1px solid #da0f00;
	background-color: #f1f2f4;
	color: #da0f00;
	margin: 0.3em auto 1.5em auto;
	padding: 0.3em 0.8em 1em;
}
.error p { font-weight: bold }
.error li {
	list-style-position: inside;
	list-style-type: decimal-leading-zero;
	padding-left: 3em;
}

/* warning */
.warning {
	color: black;
	font-size: 1.2em;
	background-color: #F8E1A0;
	border: 1px dashed #F9E400;
	font-weight: bold;
	margin: 0.2em 2em;
	padding: 0.6em 1em;
}
.warning_inline {
	color: #da0f00;
	font-weight: bold;
}

/* success */
.success {
	color: green;
	background-color: #d0d3d8;
	border: 1px dashed green;
	font-weight: bold;
	margin: 0.2em 1em;
	padding: 0.3em 0.8em 1em
}
.success_inline {
	color: green;
	font-weight: bold
}

/* breadcrumb.tpl */
.breadcrumb {
	font-size: 1em;
	color: #888
}
.breadcrumb .navigation-pipe { padding: 0 0.6em }
.breadcrumb a {
	text-decoration: none;
	color: #5d717e
}
.breadcrumb a:hover { text-decoration: underline }




/* pagination.tpl */
ul.pagination{
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: right;
    font-size: 12px;
    font-weight: bold;
}
ul.pagination li {
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 6px;
}
ul.pagination li,
ul.pagination a,
ul.pagination span {
    color: black;
}
ul.pagination a,
ul.pagination span,
ul.pagination li.truncate {
    padding: 0px 3px;
    cursor: pointer;
}
ul.pagination a {
    text-decoration: none
}
ul.pagination li.current span {
    color: red;
}
ul.pagination li.disabled span {
    color: grey;
    cursor: default;
}

ul.pagination li#pagination_previous,
ul.pagination li#pagination_next {
    font-weight: normal;
}




/* product-sort.tpl */
form#productsSortForm p {
	height: 1em;
	margin: 0.5em 0 0 0
}
form#productsSortForm p label, form#productsSortForm p select { float: right }
form#productsSortForm p select { font-size: 1em }



/* top links */
ul#header_links {
	margin: 0.4em 0.3em 0 0;
	list-style-type: none;
	float: left
}
#header_links li {
	float: left;
	width: 66px
}
#header_links a {
	display: block;
	height: 15px;
	color: #595a5e;
	padding-top: 19px;
	text-align: center;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: transparent
}
#header_links #header_link_sitemap a { background-image: url('../img/icon/sitemap.gif') }
#header_links #header_link_contact a { background-image: url('../img/icon/contact.gif') }
#header_links #header_link_bookmark a { background-image: url('../img/icon/star.gif') }



/* block top user information */
#header_right #header_user {
	float: right;
	width: 535px;
	text-align: right;
	margin-right: 6px
}
#header_user p { color: #595a5e }
#header_user span { font-weight: bold }
#header_user ul { margin-top: 0.3em }
#header_user li {
	float: right;
	line-height: 2em;
	margin-left: 0.5em;
	white-space: nowrap
}
#header_user #shopping_cart, #header_user #your_account { font-size: 0.9em }
#header_user li#your_account { margin-left: 0 }
#header_user #shopping_cart a, #header_user #your_account a {
	background-repeat: no-repeat;
	background-position: top left;
	padding: 2px 0 4px 26px;
	height: 20px;
	text-decoration: none
}
#header_user #shopping_cart a { background-image: url('../img/icon/cart.gif') }
#header_user #your_account a { background-image: url('../img/icon/my-account.gif') }



/* Footer */
#footer {
    background: white;
    height: 25px;
    margin: 8px 171px;
	padding: 0 8px;
	clear: both;
}
#footer hr { display: none; }
#footer .block_various_links, #footer .block_various_links li { margin: 0; padding: 0; }
#footer .block_various_links { list-style: none; line-height: 25px; }
#footer .block_various_links li a { text-decoration: none; }
#footer .block_various_links li { display: inline; }
#footer .block_various_links li.first_item {
	border: none;
	padding-left: 0;
}



/* Default block style */
div.block {
	margin-bottom: 1em;
}
#left_column div.block, #right_column div.block {
	padding-bottom: 5px;
}
div.block h4 {
    font-size: 120%;
	padding: 5px;
    margin: 0;
}
div.block, div.block a { color: #222; text-decoration: none; }
div.block a:hover { text-decoration: underline }
div.block .block_content {
	border-left: 1px #d0d3d8;
	border-right: 1px #d0d3d8;
	padding: 0 5px;
	min-height: 16px
}


/* block exclusive */
div.exclusive li { margin-top: 0 }
div.exclusive .block_content {
}

/* block myaccount */
#left_column div.myaccount,
#right_column div.myaccount {
	background: #f6dce8 url('../img/block_footer_myaccount.jpg') no-repeat bottom left
}
div.myaccount h4 { background: #971d58 url('../img/block_header_myaccount.jpg') no-repeat top left }
div.myaccount h4 a, div.myaccount h4 { color: white }
div.myaccount, div.myaccount a { color: #5d0630 }
div.myaccount ul.bullet { margin-top: 0.6em }
div.myaccount ul.bullet li { background-image: url('../img/bullet_myaccount.gif') }
div.myaccount ul.bullet .icon { display: none }
div.myaccount p.logout { padding: 0.3em 0 0.3em 2em }
div.myaccount p.logout, div.myaccount p.logout a { color: #dd2a81 }
div.myaccount p.logout a { text-decoration: underline }
div.myaccount p.logout a:hover { text-decoration: none }
div.myaccount .block_content {
	background: #f6dce8 url('../img/block_bg_myaccount.jpg') repeat-x bottom left;
	border-left: 1px solid #f6dce8;
	border-right: 1px solid #f6dce8
}
.account_input {
	margin-left: 0;
	width: 15em
}

/* Styles for products blocks */

/* block products (new, features, viewed, etc...) on left and right column */
.products_block li { margin-top: 0.2em }
.products_block li.item img { margin-right: 5px }
.products_block li.last_item { border: none }
.products_block li img {
	float: left;
	margin-right: 0.2em
}
.products_block p img {
	float: none;
	margin: 0 0 0 0.4em
}
.products_block li h5 {
	display: inline;
	font-size: 0.9em
}
.products_block li p a {
	font-weight: bold;
	font-size: 0.8em
}
.products_block dl {
	clear: both;
	border-top: 1px solid #374853;
	padding: 0 4px 4px
}
.products_block dl dt {
	margin-top: 0.3em;
	color: #595a5e
}
.products_block a.button_large { margin: 0.4em 0.4em 0 0.4em }
.products_block ul.product_images li {
	border: none;
	float: left;
	clear: none
}

/* Special style for block products in center column */
#center_column .products_block { border: none }
#center_column .products_block { color: #595a5e }
#center_column .products_block h4 { line-height: 1.3em }
#center_column .products_block .block_content {
	background: #d0d3d8 none;
	padding: 0
}
#center_column .products_block ul li:hover { background-color: #bdc2c9 }
#center_column .products_block ul li {
	float: left;
	background-color: #d0d3d8;
	margin-top: 0;
	padding: 0 0 1px;
	width: 133px;
	border-right: 1px solid white;
	border-bottom: 1px solid white
}
#center_column .products_block ul .product_accessories_description {
	margin: 0;
	padding: 0;
	height: 280px
}

/*#center_column .products_block li.last_item { float: none; clear: both }*/
#center_column .products_block li.last_item_of_line { border-right: none }
#center_column .products_block li.first_item_of_line { clear: both }
#center_column .products_block li.last_line { border-bottom: none }
#center_column .products_block p, #center_column .products_block h5 { margin: 0.5em 0.1em }
#center_column div.products_block h5 {
	display: block;
	margin-top: 8px;
	height: 2.57em
}
#center_column div.products_block h5 a {
	color: #374853;
	font-size: 1.1em
}
#center_column div.products_block ul li p {
	margin: 0;
	padding: 0
}
#center_column div.products_block p.product_desc {
	height: 9em;
	color: #595a5e
}
#center_column div.products_block a.product_image {
	display: block;
	background-color: transparent;
	margin-bottom: 2px;
	margin-left: 2px;
	width: 129px;
	height: 129px
}
#center_column div.products_block .product_accessories_description a.product_image {
	width: 118px;
	height: 85px
}
#center_column div.products_block a.product_description {
	display: block;
	width: 118px;
	height: 50px;
	margin-left: 2px
}

#center_column div.products_block a.product_image img {
	float: none;
	margin: 0
}
#center_column div.products_block h5 { margin: 10px 5px 3px 5px }
#center_column div.products_block p.product_desc { margin: 0 5px }
#center_column div.products_block ul li p.product_desc a { font-weight: normal }
#center_column .products_block span.price {
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em 0;
	/*display: block;*/
}
p.price_container { text-align: center }
#center_column .products_block .featured_price { margin-top: 2.5em }
#center_column .products_block a.button,
#center_column .products_block a.exclusive,
#center_column .products_block span.exclusive { margin: 0.5em auto }

/* Special style for block accessories in center column (product page) */
#center_column .products_block.accessories_block .block_content { background: none }
#center_column div.products_block.accessories_block p.product_desc {
	margin-right: 0;
	height: 150px;
	border-right: 1px solid #d0d3d8
}
#center_column .products_block.accessories_block .block_content li { background: none; text-align: center }
#center_column .products_block.accessories_block .block_content li h5,
#center_column .products_block.accessories_block .block_content li a.product_description { text-align:left }
#center_column .products_block.accessories_block .block_content li.last_item a.product_image { border: none }



/* Block CMS links */
#informations_block_left .block_content { padding-top: 3px }



/* Block specials */
.blockspecials ul { padding-top: 5px }
.blockspecials ul li {
	float: left;
	clear: none;
	padding: 0;
	width: 48%
}
.blockspecials p.product_image { margin-right: 0.3em }
.blockspecials p {
	padding: 0.3em 0 0 0;
	margin: 0;
	text-align: center;
	clear: both
}
.blockspecials p a { margin: 0 auto }



/* Block logo payment */
div.paiement_logo_block { width: 191px; text-align: center; margin-bottom: 1.5em }
div.paiement_logo_block a { text-decoration: none }
div.paiement_logo_block img { margin: 0 0.5em }



/* Block categories */
#categories_block_left .block_content { margin: 0; padding: 0; }
#categories_block_left h4 { display: none; }




/* steps (like order step) */
div#orderStepsHeader {
    height: 130px;
    margin-bottom: 10px;
}
div#orderStepsHeader img#orderStepsIcon,
div#orderStepsHeader img#orderStepsShopIcon {
    height: inherit;
    width: 130px;
    line-height: 130px;
    text-indent: 3px;
    font-size: 23px;
}
div#orderStepsHeader img#orderStepsIcon {
    float: left;
    background-color: yellow;
}
div#orderStepsHeader img#orderStepsShopIcon {
    float:right;
    background-color: red;
}
ul.step {
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
    list-style: none;
    height: 25px;
    line-height: 25px;
    font-size: 18px;

}
ul.step li {
    float: left;
    height: inherit;
    margin-right: 10px;
    color: #222222;
}
ul.step li:before {
    content: '>';
    margin-right: 3px;
}
ul.step li.step_current {
    font-weight: bold;
    color: #3dae48;
}






/* Special style for block cart*/
div#cart_block.block {
    position: absolute;
    top: 0px;
    width: 163px;
    height: 190px;
    background: white;
    padding: 0;
    margin: 0;
}
#cart_block h4 {
    height: 25px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-left: 8px;
    line-height: 25px;
}
#cart_block h4 a {
    text-decoration: none;
}
div#cart_block h4 .icon {
    background-color: yellow;
}
div#cart_block ul {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 124px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
div#cart_block ul li {
    background-color: #e7e7e8;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    font-size: 11px;
    text-indent: 8px;
    white-space: nowrap;
}
div#cart_block ul li,
div#cart_block ul li span.price {
    color: #222222;
    overflow: hidden;
}
div#cart_block ul li span.price{
    font-weight: bold;
    font-size: 12px;
}
div#cart_block ul li a {
    display: block;
    text-decoration: none;
}
div#cart_block ul li a:hover {
    color: white;
    background-color: #222222;
}




/* authentication.tpl */

#authentication div#authentificationCore{
    position: relative;
}

#authentication form#create-account_form,
#authentication form#login_form {
    width: 302px;
    font-size: 12px;
}
#authentication form#login_form{
    position: absolute;
    top: 0px;
    right: 0px;
}

#authentication form#create-account_form h3,
#authentication form#login_form h3{
    margin: 0px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 25px;
    padding-left: 8px;
    background-color: #f3f3f4;
    font-weight: normal;
}
#authentication form#create-account_form table,
#authentication form#login_form table{
    width: 100%;
    border-spacing: 0px;
}

#authentication form#create-account_form table td,
#authentication form#login_form table td{
    border-top: transparent solid 5px;
    padding: 0px;
    width: 50%;
}
#authentication form#create-account_form table td input,
#authentication form#login_form table td input{
    border: black solid 4px;
    margin: 0px;
}

#authentication form#create-account_form table td a#submitCreate,
#authentication form#login_form table td a#submitLogin{
    display: block;
    width: 136px;
    height: 25px;
    background-color: #f3f3f4;
    padding-left: 8px;
    line-height: 25px;
}
#authentication form#create-account_form table td a#submitCreate:hover,
#authentication form#login_form table td a#submitLogin:hover{
    background-color: #404041;
    color: white;
}

#authentication form#create-account_form table tr.firstRow td{
    height: 32px;
    padding-left: 8px;
}






/* my-account.tpl */
#my-account #center_column ul { margin: 2em 0 }
#my-account #center_column li {
	list-style: none;
	margin: 2em 1.5em;
}



/* discount.tpl */
td.discount_value { white-space: nowrap }




/* category.tpl */
div#subcategories ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 1;
}
div#subcategories ul li {
    background-color: #EEEEF0;
    margin-right: 13px;
    margin-bottom: 8px;
    float: left;
    width: 145px;
    height: 150px;
}
div#subcategories ul li.inLineLast {
    margin-right: 0px;
}
div#subcategories ul li div.subcategory_image,
div#subcategories ul li div.subcategory_image a,
div#subcategories ul li div.subcategory_image a img {
    width: inherit;
}
div#subcategories ul li div.subcategory_image a img {
    height: 100px;
    display: block;
}
div#subcategories ul li *{
    text-decoration: none;
    color: black;
}
div#subcategories ul li div.subcategory_info {
    padding-top: 6px;
    padding-left: 8px;
    line-height: 1.2;
    font-size: 12px;
    overflow: hidden;
 }
div#subcategories ul li div.subcategory_info *{
}





/* product-list.tpl */
ul#product_list {
    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
}

ul#product_list a{
    text-decoration: none;
}

ul#product_list,
ul#product_list a{
    color: black;
}


/* jedna polocka produktu */
ul#product_list li{
    display: block;
    position: relative;
    height: 150px;
    margin-bottom: 8px;
    overflow: hidden;
}


ul#product_list li div.left_block,
ul#product_list li div.right_block {
    background-color: #EEEEF0;
}


/* lavy stlpec s obrazkom, nazvom a cenou */
ul#product_list li div.left_block{
    float: left;
    margin-right: 13px;
    width: 145px;
    height: inherit;
    overflow: hidden;
}
ul#product_list li div.left_block a{
    width: inherit;
}
ul#product_list li div.left_block a img{
    display: block;
    width: inherit;
    height: 100px;
}

/* v lavom stlpci miesto pre nazov, kategoriu a cenu */
ul#product_list li div.left_block div.overview_block{
    width: inherit;
    height: 50px;
}
ul#product_list li div.left_block div.overview_block p{
    line-height: 1;
    margin: 0px;
}
ul#product_list li div.left_block div.overview_block p.name,
ul#product_list li div.left_block div.overview_block p.category{
    margin-left: 8px;
}
ul#product_list li div.left_block div.overview_block p.name{
    padding-top: 6px;
    font-size: 12px;
}
ul#product_list li div.left_block div.overview_block p.category{
    font-size: 9px;
    line-height: 1.3;
}
ul#product_list li div.left_block div.overview_block p.price{
    padding-right: 8px;
    padding-bottom: 7px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}


/* pravy stlpec s popisom */
ul#product_list li div.right_block{
    float: left;
    overflow: hidden;
    width: 462px;
    height: 142px;
    /* Táto čiara slúži ako vizuálny "padding" v prípade, že popis produktu je veľmi dlhý.
       Výška sa mení s hrúbkou čiary. Dokopy dávajú požadovanú výšku 150 px. */
    border-bottom: 8px solid #EEEEF0;
}


/* miesto pre kratky popis produktu */
ul#product_list li div.right_block div.description{
    width: 315px;
    overflow: hidden;
    margin-left: 8px;
    margin-top: 8px;
}
ul#product_list li div.right_block div.description h2{
    line-height: 1;
    margin-top: -2px;
    margin-bottom: 0px;
    font-size: 18px;
    text-transform: uppercase;
}
ul#product_list li div.right_block div.description p{
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.2;
}


/* miesto pre dalsie akcie nad produktom */
ul#product_list li div.right_block div.action_block{
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    width: 118px;
    overflow: hidden;
    line-height: 1;
    font-size: 12px;
}
ul#product_list li div.right_block div.action_block ul{
    margin: 0px;
    padding: 0px;
    padding-top: 8px;
}
ul#product_list li div.right_block div.action_block ul li{
    height: 24px;
    margin-top: 0px;
    margin-bottom: 8px;
    white-space: nowrap;
    background-color: white;
    line-height: 24px;
    font-size: 12px;
}
ul#product_list li div.right_block div.action_block ul li *{
    margin-left: 8px;
}
ul#product_list li div.right_block div.action_block ul li.on_sale,
ul#product_list li div.right_block div.action_block ul li.discount,
ul#product_list li div.right_block div.action_block ul li.outOfStock{
    color: #ef332c;
    font-weight: bold;
}
ul#product_list li div.right_block div.action_block ul li.available {
    color: #50b252;
    font-weight: bold;
}









/* shopping cart */
table#cart_summary {
    width: 100%;
    font-size: 12px;
    border-spacing: 0px;
    margin-bottom: 15px;
}
table#cart_summary tr td{
    overflow: hidden;
}
table#cart_summary tr th,
table#cart_summary tr td{
    padding-left: 8px;
    padding-right: 8px;
}
table#cart_summary thead tr {
    background-color: #f3f3f4;
    height: 25px;
}
table#cart_summary thead tr th {
    font-weight: normal;
}
table#cart_summary thead tr th.cart_unit{
    text-align: right;
}
table#cart_summary thead tr th.cart_description,
table#cart_summary tbody tr td.cart_description{
    text-align: left;
    width: 40%;
}
table#cart_summary tbody tr td,
table#cart_summary tfoot tr td{
    border-top: transparent solid 7px;
}
table#cart_summary tbody td a.cart_quantity_delete{
    color: red;
}
table#cart_summary tbody td.cart_availability{
    font-weight: bold;
}
table#cart_summary tbody td.cart_availability .available{
    color: #3dae48;
}
table#cart_summary tbody td.cart_availability .unavailable{
    color: red;
}
table#cart_summary tbody td.cart_ref,
table#cart_summary tbody td.cart_availability,
table#cart_summary tbody td.cart_unit,
table#cart_summary tbody td.cart_quantity,
table#cart_summary tbody td.cart_total{
    text-align: center;
}
table#cart_summary tbody td.money,
table#cart_summary tfoot td.money{
    text-align: right;
}
table#cart_summary tfoot tr.separator td{
    border-bottom: #949599 solid 1px;
}
table#cart_summary tfoot tr td:first-child {
    text-align: right;
}




.cart_navigation{
    margin-top: 16px;
    height: 25px;
}
.cart_navigation a.back,
.cart_navigation a.continueShopping,
.cart_navigation a.next{
    display: block;
    height: inherit;
    width: 130px;
    text-indent: 8px;
    font-size: 12px;
    line-height: 25px;
}
.cart_navigation a.back,
.cart_navigation a.next{
    background-color: #3dae48;
    color: white;
}
.cart_navigation a.back:hover,
.cart_navigation a.next:hover{
    background-color: #404041;
}
.cart_navigation a.continueShopping{
    background-color: #e7e7e8;
}
.cart_navigation a.continueShopping:hover{
    background-color: #404041;
    color: white;
}
.cart_navigation a.back{
    float: left;
    margin-right: 16px;
}
.cart_navigation a.continueShopping{
    float: left;
}
.cart_navigation a.next{
    float: right;
}






/* contact-form.tpl */
body#contact-form div#center_column form input#email,
body#contact-form div#center_column form select#id_contact,
body#contact-form div#center_column form textarea#message { width: 50% }
form.std p.desc_contact span.like_input {
	width: 366px;
	text-align: left
}



/* history.tpl*/
#block-history { color: #374853 }
.color-myaccount { color: #dd2a81 }
#block-history table#order-list { border: none }
#block-history table#order-list thead th { background-image: url('../img/block_myaccount_header_large.gif') }
#block-history table#order-list thead th { color: white }
#block-history table#order-list tbody { background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left }
#block-history table#order-list tbody tr td { background-color: white }
#block-history table#order-list td.history_link {
	white-space: nowrap;
	text-align: right
}
#block-history #block-order-detail {
	border-top: 2px #dd2a81 solid;
	border-bottom: 2px #dd2a81 solid;
	padding: 0.5em;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left
}
#block-history #block-order-detail p {
	padding-left: 0;
	padding-right: 0
}

#block-history #block-order-detail h4 { font-size: 1.4em }
#block-history #block-order-detail #sendOrderMessage p { padding: 0 4px 0 1px }
#block-history #block-order-detail textarea {
	margin: 0 auto;
	width: 100%
}

/* sitemap.tpl */
#sitemap_content { margin-left: 5em }
div.sitemap_block {
	padding: 0;
	float: left;
	width: 33%
}
div.sitemap_block ul { text-align: left }
div.sitemap_block h3, .categTree h3 {
	margin-top: 1em;
	margin-bottom: 1em
}
div.categTree {
	margin-top: 25px;
	margin-bottom: 1em;
	margin-left: 5em
}









/* product.tpl */

/* base nastavenie zakladnych blokov ako velkost a umiestnenie */
#primary_block #pb_left_column,
#primary_block #pb_right_column {
    width: 306px;
    height: 396px;
    float: left;
    background-color: #EEEEF0;
}
#primary_block #pb_right_column {
    margin-left: 8px;
}
#primary_block #pb_left_column{
}


#pb_right_column #short_description_block,
#pb_right_column #pb_right_column_bottom {
    width: inherit;
}
#pb_right_column #short_description_block {
    height: 60%;
}
#pb_right_column #pb_right_column_bottom {
    height: 40%;
}

#pb_right_column_bottom #product_details,
#pb_right_column_bottom #product_order {
    height: 100%;
    float: left;
}
#pb_right_column_bottom #product_details{
    width: 55%;

}
#pb_right_column_bottom #product_order {
    width: 45%;
    position: relative;
}

#pb_middle_block {
    padding-top: 8px;
}

#more_info_block {
    padding-top: 8px;
}



/* images */
#primary_block #image-block,
#image-block img#bigpic {
    height: 300px;
    width: inherit;
}
#image-block img#bigpic{
    cursor: pointer;
}
#image-block img#bigpic.jqzoom {
    cursor: crosshair;
    position: relative
}

/* views block */
#primary_block #views_block {
    width: inherit;
    height: 80px;
    margin-top: 8px;
}
#views_block #thumbs_list {
    width: 272px;
    height: inherit;
    float: left;
    overflow: hidden;
}
#thumbs_list ul {
    height: inherit;
    width: 10000px;
    list-style-type: none;
}
#thumbs_list ul li {
    width: 80px;
    height: inherit;
    float: left;
    margin-right: 8px;
}
#thumbs_list ul li a img{
    cursor: pointer;
}
#views_block span.view_scroll_spacer {
    float: left;
    width: 17px;
    height: 80px;
    background-color: #EEEEF0;
}
#views_block #view_scroll_left,
#views_block #view_scroll_right {
    width: 9px;
    height: 18px;
    float: left;
    margin-top: 30px;
    padding-right: 4px;
    padding-left: 4px;
    text-indent: -3000px;
}
#views_block #view_scroll_left{
    background: url('../img/thumbs_left.gif') no-repeat center;
}
#views_block #view_scroll_right {
    background: url('../img/thumbs_right.gif') no-repeat center;
}


/* short description */
#pb_right_column #short_description_block {
    line-height: 1;
    overflow: hidden;
}
#short_description_block *{
    margin-left: 8px;
    margin-right: 8px;
}
#short_description_block * *{
    margin-left: auto;
    margin-right: auto;
}
#short_description_block h2{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}
#short_description_block div p{
    line-height: 1.2;
    font-size: 13px;
    text-align: justify;
}



/* product_details */
#product_details{
    position: relative;
    line-height: 1;
    font-size: 12px;
}
#product_details > *{
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
}
#product_details > * > *{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
#product_details p.price{
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #222222;
}
#product_details p#old_price{
    margin-top: 10px;
}
#product_details p#old_price,
#product_details p#reduction_percent{
    color: #222222;
}
#product_details p#old_price span#old_price_display {
    font-weight: bold;
}
#product_details p#reduction_percent{
    margin-top: 2px;
}
#product_details p.price + p.on_sale,
#product_details p.price + p.discount {
    margin-top: 42px;
}
#product_details p#old_price + p.on_sale,
#product_details p#old_price + p.discount {
    margin-top: 20px;
}
#product_details p#reduction_percent + p.on_sale,
#product_details p#reduction_percent + p.discount {
    margin-top: 6px;
}
#product_details p.on_sale,
#product_details p.discount {
    font-weight: bold;
    font-size: 15px;
    color: red;
    text-transform: uppercase;
}
#product_details p#pQuantityAvailable{
    position: absolute;
    bottom: 15px;
}


/* form */
#primary_block #product_order_top{

}
#primary_block #product_order_top p#availability_statut{
    margin-top: 11px;
    margin-left: 12px;
    font-size: 12px;
    color: red;
}
#primary_block form#buy_block {
    position: absolute;
    bottom: 8px;
    right: 8px;
    left: 0px;
}
#primary_block form#buy_block ul {
    list-style: none;
}
#primary_block form#buy_block ul li{
    margin-top: 8px;
}
#primary_block form#buy_block ul li > *{
    margin: 0px;
}
#primary_block form#buy_block ul li#quantity_wanted_p label {
    margin-left: 12px;
    height: 27px;
    line-height: 25px;
}
#primary_block form#buy_block ul li#quantity_wanted_p input[name="qty"]{
    border-color: black;
    border-width: 5px;
    float: right;
}

#primary_block form#buy_block input[name="Submit"]{
    width: 100%;
    height: 25px;
    border: none;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

#primary_block form#buy_block input,
#primary_block form#buy_block select{
}




/* other */
#primary_block div#attributes p,
#quantity_wanted_p {
}


#pb_middle_block {
    font-size: 14px;
}
#pb_middle_block ul#productTabs {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#pb_middle_block ul#productTabs li {
    float: left;
    min-width: 149px;
    margin-right: 8px;
    background-color: #EEEEF0;
    line-height: 25px;
    height: 25px;
}
#pb_middle_block ul#productTabs li a {
    display: block;
    padding-left: 8px;
}
#pb_middle_block a#printReference {
    float: right;
    line-height: 25px;
    height: 25px;
}
#pb_middle_block ul#productTabs li.active{
    background-color: #222222;
}
#pb_middle_block ul#productTabs li.active a{
    color: white;
}






/* color picker */
#primary_block #color_picker p {
    margin-bottom: 0.4em;
    padding: 0
}
#primary_block #color_picker {
    padding: 0.6em 0.7em 0.4em 0.7em;
    background: #e5e6e7 url('../img/product-short-desc-bg.gif') repeat-x top left;
    border: 1px #d0d3d8 solid;
    margin-bottom: 1.5em
}
#primary_block #color_to_pick_list li {
    display: inline;
    float: left;
    margin: 0 0.4em 0.4em 0
}
#primary_block a.color_pick {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    cursor: pointer
}
#primary_block a.color_pick:hover {
    border: 1px solid #000
}
#primary_block a#color_all {
    cursor: pointer
}

/* more_info_block */
#more_info_block #more_info_sheets #idTab1{
    line-height: 1.2;
    text-align: justify;
}
#more_info_block #more_info_sheets #idTab1 h2{
    margin-bottom: 8px;
}
.price-ecotax {
    color: #488c40;
    margin-top: 20px;
}
.product_subheader{

}



/* product.tpl KONIEC */








/* manufacturers-list.tpl && suppliers-list.tpl */
ul#manufacturers_list, ul#suppliers_list {
	margin-top: 2em;
	list-style-type: none
}
ul#suppliers_list li, ul#manufacturers_list li {
	background: #d0d3d8 url('../img/block_category_item_bg.jpg') repeat-x;
	border: solid 1px #d0d3d8;
	padding: 0.6em;
	margin-bottom: 1.5em
}
ul#suppliers_list li a, ul#manufacturers_list li a {
	text-decoration: none;
	color: #374853
}
ul#suppliers_list li h3, ul#manufacturers_list li h3 { margin: 0.4em 0 }
ul#suppliers_list .left_side, ul#manufacturers_list .left_side {
	float: left;
	width: 75%
}
ul#suppliers_list .logo, ul#manufacturers_list .logo {
	border: solid 1px #d0d3d8;
	float: left;
	margin-right: 0.6em
}
ul#suppliers_list li p.description,
 ul#manufacturers_list li p.description { font-size: 0.92em }
ul#suppliers_list li .right_side,
 ul#manufacturers_list li .right_side {
	float: right;
	text-align: right
}
ul#suppliers_list .right_side span,
 ul#manufacturers_list .right_side span {
	font-size: 1.7em;
	color: #da0f00
}
ul#suppliers_list li a.button,
 ul#manufacturers_list li a.button { margin-top: 4em }

/* category.tpl */
#category img#categoryImage { margin-top: 1em }







/* adresses */
#order div.addresses {
    position: relative;
    margin-bottom: 8px;
}

#order div.addresses div.address {
    width: 302px;
}

#order div.addresses div.address#address_delivery{
}

#order div.addresses div.address#address_invoice{
    position: absolute;
    top: 0px;
    right: 0px;
}

#order div.addresses div.address{
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 8px;
}
#order div.addresses div.address h4{
    margin: 0px;
    padding-left: 8px;
    padding-top: 1px;
    margin-bottom: 8px;
    background-color: #f3f3f4;
    font-weight: normal;
    line-height: 25px;
}
#order div.addresses div.address h4 select{
    background-color: transparent;
}
#order div.addresses div.address table{
    width: 100%;
}
#order div.addresses div.address table tr td{
    width: 50%;
    white-space: nowrap;

}
#order div.addresses div.address table tr td.name,
#order div.addresses div.address table tr td.modifyAddress{
    padding-left: 8px;
}
#order div.addresses div.address table tr td.value {
    border: #404041 solid 4px;
    background-color: #f3f3f4;
    padding-left: 2px
}

#order div.addresses div.address a.modifyAddress{
    width: 141px;
    padding-left: 10px;
    margin-top: 8px;
}
#order a.address_add {
    width: 141px;
    padding-left: 10px;
    margin-top: 16px;
}
#order a.address_add,
#order div.addresses div.address a.modifyAddress{
    display: block;
    background-color: #f3f3f4;
    line-height: 25px;
    font-size: 12px;
}
#order a.address_add:hover,
#order div.addresses div.address a.modifyAddress:hover{
    background-color: #404041;
    color: white;
}

#order div#ordermsg{
    margin-top: 16px;
}


#order div#ordermsg p.ordermsgLabel{
    margin: 0px;
    margin-bottom: 8px;
    background-color: #f3f3f4;
    font-size: 12px;
    line-height: 25px;
    text-indent: 10px;
}

#order div#ordermsg textarea.ordermsgText{
    width: 612px;
    border: #404041 solid 4px;
    margin: 0px;

}




/* conditions & legal */
ul.shop_info {
	list-style-type: square!important;
	list-style-position: inside;
	padding: 0.6em;
	margin-top: 0.6em;
	margin-left: 2em;
	border: 1px solid #888
}
ul.shop_info li {
	padding-left: 0.5em!important;
	padding-bottom: 0.5em!important
}

/* conditions.tpl */
#conditions #right_column { display: none }
#conditions h2 { background: transparent url('../img/title_bg_large.gif') no-repeat top left }
#conditions #center_column {
	width: 730px;
	text-align: justify
}
#conditions #center_column ul,
#conditions #center_column ol {
	margin-left: 2em;
	padding: 0.6em
}
#conditions #center_column ul { list-style-type: circle }
#conditions #center_column li { padding-bottom: 0.5em }
#conditions #center_column { line-height: 1.3em }

/* identity.tpl */
p#security_informations {
	font-size: 0.85em;
	margin: 0 3em
}

/* order step 3: PAYMENT */
.payment_module { display: block }
.payment_module img {
	vertical-align: middle;
	margin-right: 1em
}
.payment_module a {
	display: block;
	border: 1px solid #595a5e;
	padding: 0.6em;
	text-decoration: none
}
.payment_module a:hover, .payment_module a:focus, .payment_module a:active {
	border: 1px solid #488c40;
	background-color: #e5e6e7;
	color: #374853
}



/* Customizable product */
#customization_block { width: 556px }
.customization_block_title { margin: 4px 4px 4px 2px }
#customization_block ul { margin: 6px 6px 0 6px }
.customization_block_input { vertical-align: inherit }
img.customization_delete_icon { margin: 2px }
li.customizationUploadLine {
	clear: left;
	padding: 4px;
	display: block
}
div.customizationUploadBrowse { float: left }
div.customizationUploadBrowseDescription { padding: 6px }
img.customizationUploaded {
	margin: 2px;
	border: 1px solid #888888
}
ul.customizationUploaded {
	list-style-type: none;
	margin-left: 4px
}
ul.customizationUploaded li { display: inline }
ul.customizationUploaded a { text-decoration: none }
div.customizationUploaded { clear: left }
div.deletePictureUploaded { float: right }
div.deleteCustomizableProduct { float: right }
ul.typedText {
	padding-left: 6px;
	list-style-type: none
}



/* cms pages */
#cms div.content_only {
	text-align: left;
	padding: 10px
}
