*, body{ margin: 0; padding: 0; }

#maintenance {
	width: 500px;
	margin: 50px auto;
	background: #fff;
    text-align: center;
}

#message {
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
	padding: 20px;
    margin: 2em auto;
	background: #F9E3EE;
	color: #C73178;
}

#message img {
    float: left;
}

#message p {
    font-size: 120%;
    line-height: 1.4em;
}
